<script setup lang="ts">
  import type { PropType } from 'vue';
  import type { ICountry } from '@/models/country';

  defineProps({
    country: {
      type: Object as PropType<ICountry>,
      require: true,
    }
  });
</script>

<template>
  <div>
    <h3>{{ country?.name }}</h3>
    <p>#{{ country?.code }}</p>
    <p>{{ country?.currency }}</p>
    <p>{{ country?.capitalCity }}</p>
  </div>
</template>
