<script setup lang="ts">
  import { ref } from 'vue';
  import CountryCard from '@/components/CountryCard.vue';
  import type { ICountry } from '@/models/country';

  const countries = ref<Array<ICountry>>([]);
  fetch('http://localhost:5000/api/Country')
    .then(response => response.json()) // Parse JSON manually
    .then(data => countries.value = data)
    .catch(error => {
      console.error(error);
    });
</script>

<template>
  <main>
    <h2>Country Lists</h2>
    <CountryCard v-for="(country, index) in countries" :key="index" :country="country"/>
  </main>
</template>
